.outmostContainer {
    background-color: rgb(255, 255, 255);
    width: 65vw;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 3rem;
}

.scrollClip {
    gap: 2rem;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2rem;
}

.header {
    display: none;
}

.mainTitle {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@media (max-width:1200px) {
    .outmostContainer {
        width: 75vw !important;
        padding: 2rem;
    }
}

@media (max-width:800px) {
    .outmostContainer {
        width: 85vw !important;
        padding: 2rem;
    }
}

@media (max-width:600px) {
    .outmostContainer {
        width: 95vw !important;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .scrollClip {
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}