.customList {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: none;
    height: 100%;
    overflow-y: auto;
}

.completeTodo {
    background: none;
    border: none;
    padding: 0.25rem;
    box-shadow: none;
    color: inherit;
}

.removeTodo {
    background: none;
    border: none;
    padding: 0.25rem;
    box-shadow: none;
    color: inherit;
    font-size: 2rem;
    margin-left: auto;
}

.mainTitle {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .todosContainer {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }