.customList {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: none;
    height: 100%;
    overflow-y: auto;
}

.completeTodo {
    background: none;
    border: none;
    padding: 0.25rem;
    box-shadow: none;
    color: inherit;
}

.removeTodo {
    background: none;
    border: none;
    padding: 0.25rem;
    box-shadow: none;
    color: inherit;
    font-size: 2rem;
    margin-left: auto;
}

.createTodo {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1rem;
}

.mainTitle {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

@media (max-width: 600px) {
    .createTodo {
        flex-direction: column;
        gap: 0.1rem;
    }

    .mainTitle {
        display: none;
    }
}

.todosContainer {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}